  <div class="container">
    <div class="row">
    <div class="col-4 align-items-center">
    <div class="card text-center">
        <div class="card-header">
         <strong>Journey Details</strong>
        </div>
        <div class="card-body">
          <form #trainForm="ngForm" (ngSubmit)="loadTrainsByName()">
            <div class="col-auto mb-2">
                <label class="visually-hidden" for="autoSizingInput"></label>
                <div class="input-group">
                  
                  <input type="text" class="form-control" id="autoSizingInput" name="trainName" [(ngModel)]="trainModel.trainName" placeholder="Train Name">
                </div>
              </div>
            
              
             
              <div class="col-auto mb-4 mt-4 ">
                <label class="visually-hidden" for="autoSizingInput"></label>
                <div class="input-group">

                  <input type="date" class="form-control" id="autoSizingInput" name="doj" >
                </div>
              </div>
    
          <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
         <div class="card-footer text-muted" *ngIf="trainDTO.seats_Available">
          <div class="card">
            <h3 class="card-header">{{trainDTO.trainName}}</h3>
            <div class="card-body">
              <h3 class="card-title">{{trainDTO.source}}-{{trainDTO.destination}}</h3>
              <p class="card-text">
                <button type="button" class="btn btn-primary">
                AC2 <span class="badge badge-light"></span>
                <span class="sr-only">{{trainDTO.seats_Available}}</span>
              </button>
              <button type="button" class="btn btn-primary mx-2">
                AC3 <span class="badge badge-light"></span>
                <span class="sr-only">{{trainDTO.seats_Available}}</span>
              </button>
                <button type="button" class="btn btn-primary">
                SL <span class="badge badge-light"></span>
                <span class="sr-only">{{trainDTO.seats_Available}}</span>
              </button>
              </p>
             
              <button class="btn btn-primary" (click)="loadBookTickets(trainDTO.trainNo)">Book Tickets</button>
            </div>
        </div>
        </div> 
      </div>
    </div>
    </div>
    </div>
    



