<div class="container-fluid">
    <div class="row">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand text-wrap" href="#!"><span class="fw-bold text-primary">Capegemini</span> Railway Reservation System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#!" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" routerLink="/trains" routerLinkActive="active">Trains</a></li>
                <li  class="nav-item"><a class="nav-link" href="#!" routerLink="/pnr" routerLinkActive="active">PNR Enquiry</a></li>
                <li *ngIf="!isLogged" class="nav-item"><a class="nav-link" href="#!" routerLink="/login" routerLinkActive="active">Login</a></li>
                <li *ngIf="!isLogged" class="nav-item"><a class="nav-link" href="#!" routerLink="/register" routerLinkActive="active">Register</a></li>
                <li *ngIf="isLogged && isAdmin" class="nav-item"><a class="nav-link" href="#!" routerLink="/admin" routerLinkActive="active">Admin Panel</a></li>
                <li *ngIf="isLogged" class="nav-item"><a class="nav-link" href="#!" [routerLink]="bookHistoryUrl" routerLinkActive="active">Book History</a></li>
                <li *ngIf="isLogged" class="nav-item"><a class="nav-link" href="#!" [routerLink]="walletUrl" routerLinkActive="active">Wallet</a></li>
                <li *ngIf="isLogged" class="nav-item"><a (click)="logout()" class="nav-link" href="#!" routerLink="/login" routerLinkActive="active">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
</div>


